In [ ]:
# DOWNLOAD TRAIN/VALIDATION DATA
!cd train_data; kaggle datasets download radek1/otto-train-and-test-data-for-local-validation
!cd train_data; unzip otto-train-and-test-data-for-local-validation.zip

In [ ]:
# DOWNLOAD COMPETITION DATA
!cd infer_data; kaggle datasets download columbia2131/otto-chunk-data-inparquet-format
!cd infer_data; unzip otto-chunk-data-inparquet-format.zip

In [ ]:
# DOWNLOAD COMPETITION DATA
!cd infer_data; kaggle datasets download radek1/otto-full-optimized-memory-footprint
!cd infer_data; unzip otto-full-optimized-memory-footprint.zip

In [9]:
import pandas as pd, numpy as np

In [2]:
# MY CODE USES AN EARLIER VERSION WHERE TS WAS 1000X
df = pd.read_parquet('infer_data/train.parquet')
df.ts = df.ts.astype('int64') * 1000
df = pd.to_parquet('infer_data/train.parquet',index=False)

In [ ]:
# MY CODE USES AN EARLIER VERSION WHERE TS WAS 1000X
df = pd.read_parquet('infer_data/test.parquet')
df.ts = df.ts.astype('int64') * 1000
df = pd.to_parquet('infer_data/test.parquet',index=False)

In [2]:
df = pd.read_parquet('train_data/train.parquet')
print( df.shape )
df.head()

(163955180, 4)

   session      aid          ts  type
0        0  1517085  1659304800     0
1        0  1563459  1659304904     0
2        0  1309446  1659367439     0
3        0    16246  1659367719     0
4        0  1781822  1659367871     0

In [7]:
user1 = df.session.unique()
len(user1)

11098528

In [18]:
parts = 100
chunk = int( np.ceil( len(user1)/parts ) )
chunk

110986

In [16]:
x = 1
f'{x:03d}'

'001'

In [19]:
for k in range(parts):
    u = user1[k*chunk:(k+1)*chunk]
    tmp = df.loc[df.session.isin(u)]
    tmp = tmp.sort_values(['session','ts'])
    tmp.to_parquet(f'train_data/train_parquet/{k:03d}.parquet',index=False)
    print(k,', ',end='')

0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 , 12 , 13 , 14 , 15 , 16 , 17 , 18 , 19 , 20 , 21 , 22 , 23 , 24 , 25 , 26 , 27 , 28 , 29 , 30 , 31 , 32 , 33 , 34 , 35 , 36 , 37 , 38 , 39 , 40 , 41 , 42 , 43 , 44 , 45 , 46 , 47 , 48 , 49 , 50 , 51 , 52 , 53 , 54 , 55 , 56 , 57 , 58 , 59 , 60 , 61 , 62 , 63 , 64 , 65 , 66 , 67 , 68 , 69 , 70 , 71 , 72 , 73 , 74 , 75 , 76 , 77 , 78 , 79 , 80 , 81 , 82 , 83 , 84 , 85 , 86 , 87 , 88 , 89 , 90 , 91 , 92 , 93 , 94 , 95 , 96 , 97 , 98 , 99 ,

In [20]:
df2 = pd.read_parquet('train_data/test.parquet')
print( df2.shape )
df2.head()

(7683577, 4)

    session      aid          ts  type
0  11098528    11830  1661119200     0
1  11098529  1105029  1661119200     0
2  11098530   264500  1661119200     0
3  11098530   264500  1661119288     0
4  11098530   409236  1661119369     0

In [21]:
df2.session.nunique()

1801251

In [22]:
user2 = df2.session.unique()
len(user2)

1801251

In [23]:
parts2 = 20
chunk2 = int( np.ceil( len(user2)/parts2 ) )
chunk2

90063

In [24]:
for k in range(parts2):
    u = user2[k*chunk2:(k+1)*chunk2]
    tmp = df2.loc[df2.session.isin(u)]
    tmp = tmp.sort_values(['session','ts'])
    tmp.to_parquet(f'train_data/test_parquet/{k:03d}.parquet',index=False)
    print(k,', ',end='')

0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 , 12 , 13 , 14 , 15 , 16 , 17 , 18 , 19 ,